* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #030303;
}

.text-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;

  background: #262626 -webkit-gradient(
      linear,
      left top,
      right top,
      from(#262626),
      to(#262626),
      color-stop(0.5, #fff)
    ) 0 0 no-repeat;
  -webkit-background-size: 150px;
  background-size: 150px;
  color: rgba(255, 255, 255, 0.1);
  -webkit-background-clip: text;
  font-size: 165px;
  font-family: "Courier New", Courier, monospace;
  animation: animation 5s infinite;
}
