* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #030303;
}

.text-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
}
